# ========== Global ==========
.DS_Store
**/.env
**/.env.*
**/*.log
**/*.sqlite3
**/*.db
**/*.pid
**/*.pyc
**/*.pyo
**/*.pyd
**/__pycache__/
**/*.swp
**/*.swo

# Editor folders
.vscode/
.idea/
*.code-workspace

# ========== Node.js ==========
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
.pnpm-debug.log

# ========== Python ==========
*.egg-info/
.eggs/
*.pkl
*.joblib
*.h5
*.onnx
*.pt
.mypy_cache/
.pytest_cache/
venv/
.cache/
.ipynb_checkpoints/

# ========== React ==========
frontend/build/
frontend/node_modules/
frontend/.next/               # Nếu dùng Next.js
frontend/.turbo/              # Nếu dùng TurboRepo


